VITE_SUPABASE_URL=https://jcfawniwdyctenxdjlow.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_kJYhVSG0rvbI2PkC_vB1uQ_t6Cha0mR
VITE_SUPABASE_PROJECT_ID=jcfawniwdyctenxdjlow
SUPABASE_URL=https://jcfawniwdyctenxdjlow.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_kJYhVSG0rvbI2PkC_vB1uQ_t6Cha0mR